:root {
    
    --Second-clr: #ef0a48;
    --third-clr: #12011e;
    --duration: 0.3s;
  }
i{
    display: inline-flex;
}
  $primary-clr:#9C0AEF;
  $blue-clr:#1575F2;
  $white-clr:#ffffff;
  $third-clr:#f89d00;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
    
    
}
iframe{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 0 20px 2px #0000004b;
}
a{
    text-decoration: none;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }
}
.loading{
    width: 100vw;
    height: 100vh;
    background: #e8ebff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;
    color: #36e98f;
    .loadings{
        position: absolute;
        top: 50%;
        left: 50%;
        display: grid;
        width: fit-content;
        align-content: center;
        justify-items: center;
        font-weight: bolder;
        font-size: 2em;
        transform: translate(-50%,-50%);
        i{
            animation: rotation linear infinite 5s;
        }
    }
}
.special-heading {
    padding: 15px 20px;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 22px;
    position: relative;
    color: aliceblue;
    background: linear-gradient(217deg, #5414c7 63%, #2196f3);
    margin-right: 50px;
    -webkit-box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
    -moz-box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
    box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
  }
  
  .special-heading::before {
    content: "";
    width: calc(100vw - 380px);
    height: 3px;
    background-color: $primary-clr;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -99;
  }
  
  .special-heading::after {
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $primary-clr;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -99;
  }
  
  .special-heading span {
    color: #ffffffd2;
    font-size: 15px;
  }
  
::-webkit-scrollbar{
    background: $primary-clr;
    width: 9px;
}

::-webkit-scrollbar-thumb{
    background-color:$white-clr ;
}
.purda{
    background: linear-gradient(307deg, #673ab7 53%, #2196f3);
    border-radius: 8px 4px 8px 5px;
    color: #f3f3f3;
    border: 0;
    
}
.whiteB{
    color: #f1f1f1;
    border: solid 2px #3f51b5;
    border-radius: 10px 0 10px 0;
    background: transparent;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
    header{
        position: fixed;
        width: 100%;
        z-index: 9;
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0px;
            right: -90%;
            transition: right ease-in-out 0.2s;
            opacity: 0;
            background: rgb(0, 255, 0);
        }
        nav{
          padding: 0 50px;
          font-weight: bolder;
          font-size: 20px;
          border-bottom: solid 2px #e1d0ff;
          a{
              color: #333;
              transition: all ease-in-out 0.2s;
              text-decoration: none;
              &:hover{
                  color:#0d6de9;
              }
          }
          background: #280356;
          width: 100%;
          
          color: $white-clr;
          ul{
              .circle_main{
                  width: 15px ;
                  position: absolute;
                  top: 18px;
                  right: 40px;
                  height: 15px;
                  border-radius: 50px;
                  background-color: greenyellow ;
              }
              
              select{
                background: linear-gradient(45deg, #5414c7, #9c0aef);
                border-radius: 2px;
                border: solid 0;
                padding: 5px 11px;
                  
                  margin: 5px 0;
                  
                  color: $white-clr;
                  font-weight: bolder;
                  outline: none;
                  option{
                    border-radius: 0;
                    background-color: $white-clr;
                    color: #21102D;
                    padding: 10px 10px;
                    margin: 10px;
                  }
              }
              display: flex;
              justify-content: center;
            justify-items: center;
            #main-name{
                margin-inline-end: auto;
                padding: 10px;
                
                position: relative;
                z-index: 1;
                color: $white-clr;
                &:before{
                    content: "";
                    width: 96px;
                    right: 0px;
                    height: 100%;
                    background: linear-gradient(45deg, #e91e63, #ff9800);
                    top: -10%;
                    z-index: -1;
                    border-radius: 0 0 13px 13px;
                    position: absolute;

                }
            }
              li{
                  display: flex;
                  list-style: none;
                  padding: 10px 10px;
                  position: relative;
                  overflow: hidden;
                  
                  a{
                    color: #efefef;
                    font-weight: 400;
                    text-decoration: none;
                    font-size: 18px;
                      
                    }
                    &:hover>::after{
                        bottom: 10%;
                        transform-origin: right;
                    }
                    &:after{
                        content: "";
                        background: crimson;
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        bottom: -10%;
                        left: 0;
                        
                }
              }
          }
      }  
    }
}
@keyframes moveupdown{
    0%{
        bottom:10%;
    }
    50%{
        bottom:0%;
    }
    100%{
        bottom:10%;
    }
} 
.container{
    max-width: 1485px;
    display: unset;
    min-width: 1000px;
    #main{
        position: relative;
        background: linear-gradient(327deg, #0b1d5e, #66039f);
        display: grid;
        grid-template-columns: 2fr 1fr;
       
        .todown{
            position: absolute;
            bottom: -1%;
            right: 50%;
            transform:translate(-50%,-50%);
            border:solid 2px #9fa5fa;
            border-radius: 50px;
            height: 40px;
            width: 20px;
            span{
                height: 10px;
                width: 2px;
                background: white;
                position: absolute;
                bottom:10%;
                animation: moveupdown linear infinite 1s;
                right:32%;
                border-radius:5px;
                transform: translate(-50%,-50%);
            }
        }
        .wrapper{
            display: grid;
            height: 100%;
            padding: 50px;
            position: relative;
            padding-top: 100px;
            align-items: center;
            justify-content: center;
           
            >*{
                margin: 15px 0;
            }
            
            .announcement{
                
                    color: $white-clr;
                    background: #673ab7;
                    width: fit-content;
                    padding: 0 5px;
            }
            .inputs1{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                width: 50%;
                :is(input,a){
                    cursor: pointer;
                    padding: 5px 10px;
                    font-size: 20px;
                    margin:10px;
                    text-decoration: none;
                    text-align: center;
                    transition: box-shadow 0.2s;
                    &:hover{
                        box-shadow: 0 0 25px 1px #2b4af5;
                    }
                    
                }
            }
            hr{
                display: none;
                // width: 46%;
                // height: 5px;
                // outline: none;
                // border: 0 ;
                // background: linear-gradient(to right, #12011E 33%, $third-clr 33%,$third-clr 66%,$primary-clr 66%,$primary-clr 99%);
            }
            p{
                font-size: 18px;
                font-weight:300;
                color: #ededed;
            }
            h1{
                font-size: 3em;
                color: #ced1ff;
                &:hover #stoning{
                    opacity: 1;
                }
                sup{
                    font-size: 18px;
                }
            }
        }
    }
}
@keyframes scrolling {
    0%{
        top: +100%;
    }
    100%{
        top: -550%;
    }
}
.main_pre{
    position: relative;
    
    .square{
        width: 360px;
    top: 10%;
    position: absolute;
    left: 3%;
    transform: rotate(0deg);
    height: 89%;
    border-radius: 3px;
    background-color: #e6e6e6;
    background: linear-gradient(280deg, #3f51b5, #9c27b0);
    
    overflow: hidden;
    /* padding: 20px; */
    box-shadow: 0 0 20px 2px #00000087;
    .classesList{
        position: absolute;
        top: 0;
        width: 100%;
        padding: 14px;
        background: linear-gradient(45deg, #673ab7, #9c27b0);
        font-weight: 500;
        font-size: 18px;
        box-shadow: 0 0 20px 2px #101010;
        
        color: #ecd9ff;
        display: flex;
        align-items: center;
        z-index: 3;
        justify-content: center;
    }
        .enjoiy{
            position: absolute;
            top: 50%;
            left: 25%;
            color: rgb(255, 255, 255);
            font-size: 2em;
            font-weight: bolder;
            text-transform: capitalize;
            
        }
        .library-view{
            background: inherit;
            
            box-shadow: 0 0 31px 2px #30023c;
            animation: scrolling linear infinite 50s;
            width: 100%;
            
            padding: 20px;
            height: fit-content;
            display: grid;
            position: absolute;
            &:hover{
                animation-play-state: paused;
            }
            .goto{
                display: flex;
                align-items: center;
                color: #ded5fb;
                padding: 10px;
                background: #21102d;
                input{
                    margin-right: auto;
                    padding: 5px;
                    background: linear-gradient(305deg, #ef0a48, #f89d00);
                    border: solid 0;
                    font-weight: 700;
                    outline: none;
                    cursor: pointer;
                    border-radius: 16px;
                    color: antiquewhite;
                }
            }
            
            a{
                width: 100%;
                /* height: 100%; */
                overflow: hidden;
                cursor: pointer;
                text-decoration: none;
                background: linear-gradient(115deg, #280356, #66039f);
                border-radius: 5px;
                margin: 17px 0 5px 0;
                box-shadow: 0 0 20px 2px #231b40fa;
                display: grid;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    
                }
            }
        }
    }
    
    
}
.who_r_w{
    width: 100%;
    padding: 20px 0;
    background: $white-clr;
    position: relative;
    overflow: hidden;
    .title_who{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        z-index: 7;
        padding: 15px 20px;
        width: fit-content;
        border-radius: 10px;
        margin-bottom: 22px;
        position: relative;
        color: aliceblue;
        background: linear-gradient(217deg, #5414c7 63%, #2196f3);
        box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        p{
            color: #ffffffef;
        }
        h5{
            padding-left: 10px;
            font-size: 1.5em;
        }
    }
    .cards{
        margin: 50px 0;
        background: linear-gradient(45deg, #66039f, #0b1d5e);
        box-shadow: 0 0 5px 2px rgb(189, 189, 189);
        border-radius: 0px;
        padding: 20px;
       // display: grid;
        font-size: 15px;
    
        height: 50%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        //grid-template-columns: 1fr 1fr 1fr 1fr;
        .moreinfo{
            color: #cfe4ff;
            font-size: 15px;
            padding: 0 50px;
            display: grid;
            height: 100%;
            position: relative;
            grid-template-columns: 1fr 1fr;
            align-content: center;
            justify-content: center;
            .info{
                display: grid;
            align-items: center;
            text-indent: 17px;
            h3{
                background: linear-gradient(45deg, #ff5e00, #ef0a48);
                padding: 10px 10px;
                color: #f9f9f9;
                border-radius: 5px;
                text-indent: 0;
                box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.26);
               width: fit-content;
            }
            }
            .leftnext{
                position: absolute;
                left: 2%;
                background: #66039f;
                box-shadow: 0 0 20px 2px #16161680;
                border-radius: 50px;
                transform: translate(-50%,-50%) ;
                top: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 41px;
            }
            .media_links{
                display: flex;
                align-items: center;
                justify-content:center;
                a{
                    text-decoration: none;
                    margin: 0 20px;
                    color: #ffffffc4;
                    width:25%;
                    height:25%;
                    display: grid;
                    gap:5px;
                    align-content: center;
                    justify-items: center;
                    p{
                        background: linear-gradient(45deg, #9c0aef, #f89d00);
                        padding: 11px 0;
                        border-radius: 2px;
                        width: 100%;
                        text-align: center;
                        font-weight: 500;
                    }
                    img{
                        border-radius: 5px;
                        width:100%;
                        height: 100%;
                        padding: 4px;
                        border: solid 1px #b5b5b5;
                        box-shadow: 0 0 20px 2px #202020;
                    }
                }
            }
        }
        .card{
            margin: 10px 20px;
            border-radius: 5px;
            border-top: solid 6px #f89d00;
            
            display: grid;
            display: none;
            gap: 5px;
            padding: 20px;
            align-items: center;
            color: #12011E;
            text-align: center;
            justify-items: center;
            background: $white-clr;
            overflow: hidden;
            position: relative;
            transition: all ease-in-out 0.2s;
            
            .namess{
                font-weight: 900;
            }
            
            &:hover{
                background: linear-gradient(126deg, #ef0a48 20%, #9c0aef);
                color: $white-clr;
                transform: scale(1.1);
                transition: all ease-in-out 0.2s;
            }
            &:hover>a{
                transition: all ease-in-out 0.2s;
                background: $white-clr;
                color: $primary-clr;
                box-shadow: 0 0 6px 2px #ffba42;
            }
            .avatar{
                width: 76px;
                height: 76px;
                border-radius: 50%;
                background: #0d6de9;

                
            }
           
            img{
                width: 100%;
                border-radius: 50%;
                
            }
            a{
                color: $white-clr;
                background: $primary-clr;
                padding: 2px 5px;
                border-radius: 50px;
                overflow: hidden;
                z-index: 6;
                position: relative;
                text-decoration: none;
                
                &:hover>.wipe{
                    right: 0%;
                }
                &:hover{
                    color: $white-clr;
                }
                .wipe{
                    right: -111%;
                    width: 111% ;
                    transition: all ease-in-out 0.2s;
                    position: absolute;
                    top: -2px;
                    z-index: -1;
                    height: 30px ;
                    background:linear-gradient(to right ,gold 10%,rgb(255, 183, 0) 10%) ;
                }
            }
            
        }
    }

}
.thanks_to{
   

    width: 100%;
    padding: 20px 0;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
    .title_who{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        z-index: 7;
        padding: 15px 20px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 10px;
        margin-bottom: 22px;
        position: relative;
        color: aliceblue;
        background: linear-gradient(217deg, #5414c7 63%, #2196f3);
        box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        p{
            color: #ffffffc4;
        }
        h5{
            padding-left: 10px;
            font-size: 1.5em;
        }
    }
    .cards{
        padding: 50px 50px;
        display: flex;

        .card{
            width: fit-content;
            width: 100%;
            padding: 20px;
            border-radius: 5px;
            border-right: solid 5px $primary-clr;
            overflow: hidden;
            display: grid;
            font-weight: 500;
            align-items: center;
            background: linear-gradient(310deg, #66039f, #5414c7);
            color: #ddd9ff;
            justify-content: center;
            grid-template-rows: 0.5fr 4fr 0.5fr;
            margin-right: 20px;
            box-shadow: 0 0 5px 2px rgb(189, 189, 189);
           
            .booklist{
                width: 100%;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    float: right;
                    color: $white-clr;
                    padding: 5px 13px;
                    border-radius: 5px;
                    background: linear-gradient(45deg, #f89d00, #ef0a48);
                    margin-bottom: 16px;
                    font-weight: bolder;
                    position: relative;
                    margin-inline-end: auto;
                    &:after{
                        content: "";
                        width: 1000px;
                        height: 3px;
                        background: $primary-clr;
                        position: absolute;
                        top: -40%;
                        right: -50%;
                        z-index: 1;
                    }
                }
                span{
                    padding: 9px 7px;
                    background: linear-gradient(312deg, #9c0aef, #8b05d7 85%);
                    color: #f3f3f3;
                   border-radius: 2px;
                    z-index: 7;
                    cursor: pointer;
                    margin: 0 5px;
                }
            }
            h4{
                color: #fdfdfd;
               
                border-radius: 5px;
                position: relative;
                padding: 5px 13px;
               
                  background: linear-gradient(45deg, #f89d00, #ef0a48);

                z-index: 7;
                width: fit-content;
                
            }
        }
        .cardname{
            width: fit-content;
            padding: 20px;
            text-align: center;
            max-width: 250px;
            border-right: solid 6px #2196f3;
            border-radius: 5px;
            box-shadow: 0 0 20px 2px #bdbdbd;
            display: grid;
            gap:10px;
            align-content: center;
            justify-items: center;
            position: relative;
            background-color: white;
            .doc{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                img{
                    width: 120%;
                }
            }
            &::before{
                content: "";
                position: absolute;
                width: 50px;
                height: 80px;
                background: $third-clr;
                top: 0%;
                right: 2%;
                clip-path: polygon(0px 59px, 0px 0px, 0px 0px,50px 0px ,50px 59px,25px 35px);
            }
            span{
                color: #e6e6e6;
                background: $primary-clr;
                padding: 2px 5px;
                border-radius: 5px;
            }
            p{
                font-weight: bolder;
            }
            
            .social{
                display: flex;
                margin: 5px;
                a{
                    text-decoration: none;
                    padding: 2px 5px;
                    margin: 5px;
                }
                .face{
                    background: linear-gradient(45deg, #5414c7, #2196f3);
                    color: #fbfbfb;
                    border-radius: 2px;
                    border: solid 1px #1575F2;
                }
                .assir{
                    
                    width:max-content;
                    color:#ffffff;
                    border-radius: 2px;
                    background: linear-gradient(45deg, #9c27b0, #ef0a48);

                }
            }
            
        }
    }

}
.end{
    hr{
        position: relative;
        z-index: 2;
        border: solid 0;
        background:#ffffff4a;
        border-radius: 5px;
        height: 2px;
        width: 90%;
    }
    .anou{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 50px;
        .anounc{
            padding: 20px 0;
            display: flex;
            .social1{
                margin: 0 10px ;
                pad: 0.1px;
                width: 20px;
                background-size: cover;
                background-position: center;
                background-image:url(./images/facebook.png) ;
                height: 20px;
            }
            .social2{
    
                padding:0.1px ;
                width: 20px;
                background-size: cover;
                background-position: center;
                background-image:url(./images/INSTA.png) ;
                height: 20px;
            }
        }
        .dmca{
            display: flex;
             position: absolute;
              left: 17%;
            p{
                background-color: $third-clr;
                padding: 10px;
            }
            span{
                padding: 10px;
                background-color: #0b1d5e;
            }
        }
    }
    
    .stil{
        position: absolute;
        width: 174px;
        height: 100%;
        background: #f9c365;
        left: 0px;
        display: flex;
        z-index: 4;
        box-shadow: 9px 4px 20px 0px #0b1d5e;
        align-items: center;
        justify-content: center;
        .logoin{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
            }

        }
    }
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(308deg, #66039f, #0d6de9);
    
    
    color: $white-clr;
    .aboutus{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        color: #dfceff;
        margin: 10px 50px 0 100px;
        position: relative;
        z-index: 7;
        padding: 20px 0;
        a{
            text-decoration: none;
            color: #ebe0ff;
            &:hover{
                color: #fff;
            }
        }
        h4{
            padding: 10px 24px;
            border-radius: 5px;
            box-shadow: 0 0 24px 2px #00000038;
            margin: 10px 0;
            
            width: fit-content;
            
            height: fit-content;
            background: linear-gradient(45deg, rgb(161 105 255), rgb(66 133 244));
            color: #dadce0;
        
        }
        .about{
            display: grid;
            padding-left:20px ;
        }
        .category{
            display: grid;
            .cat{
                display: grid;
                gap: 5px;
            }
        }
        .links{
            display: grid;
            grid-template-rows: 0fr auto;
            align-content: flex-start;
            a{
                margin-bottom: 5px;
                &:hover{
                    color: #dddddd;
                }
            }
            .moveto{
                display: grid;
            }
        }
    }
}
footer{
    background: #000;
    color: $white-clr;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    p{
        margin: 0 10px;
    }
}



///classes styling
.classes{    
    padding: 20px 50px;
    .classes-name{
        
        display: flex;
        
        align-items: center;
        justify-content: center;
        
        
        z-index: 7;
        padding: 15px 20px;
       
        width: fit-content;
        border-radius: 10px;
        margin-bottom: 22px;
        position: relative;
        color: aliceblue;
        background: linear-gradient(217deg, #5414c7 63%, #2196f3);
       
        box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        h5{
            font-size: 1.5em;
            margin-left: 5px;
        }
        p{
            font-weight: bolder;
            color: #effdffa9;
            
        }
           

    }
    h4{
        color: #282828;
        /* background: #2196f3; */
        border: solid 0px #9C0AEF;
        padding: 10px 20px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        float: left;
        border-radius: 50px;
    }
    .hifi{
        color: white;
        background: linear-gradient(58deg, #a02dac, #f4aa4e);
        border: solid 0px #9C0AEF;
        padding: 12px 20px;
        border-radius: 50px;
        margin: 10px 20px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        float: left;
    }
    .full_list{
        width: 100%;
        
    overflow: hidden;
    background: #f0f0f05e;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 19px 3px #8585852e;
    display:flex;
    
    .facebbok{
        padding: 20px;
        width: max-content;
        color: #4c9aff;
        font-weight: 700;
        background: #ffffffe0;
        font-size: 15px;
        box-shadow: 0 0 20px 2px #858585c4;
        height: 100%;
        z-index: 1;
        white-space: nowrap;
        .facewrap{
            padding: 8px 10px;
            border-radius: 5px;
            background: #4290f4;
            color: #fffffffb;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
   .mylink_list{
            ::-webkit-scrollbar{
                background: #ffffff;
                height: 5px;
                margin-bottom: 2px;
                
               
            }
            ::-webkit-scrollbar-thumb{
                background-color: #d4d4d4;
                border-radius: 50px;
                transition: all ease-in-out 0.5s;
                &:hover{
                    background-color: #929292;
                }
            }
            
            
            width: fill-available;
            overflow: hidden;
            .mylist{
                display: flex;
                align-items: center;
            
                overflow: auto;
               
                height: 100%;    
            }
            a{
                background: #e0e0e0;
                border-radius: 50px;
                padding:5px 10px;
                color: rgb(110, 110, 110);
                font-weight: 500;
                margin-left: 5px;
                min-width: max-content;
                text-decoration: none;
            }
          
        }
    }
    .wrapclasses{
        
        box-shadow: 0px 0px 20px 3px #bfbfbf;
        overflow: hidden;
        .class_title{
            width: fit-content;
            transition: all ease-in-out 0.2s;
            padding: 10px 20px;
            background: #ffba42;
            position: absolute;
            top: 1%;
            z-index: 7;
            display: flex;
            left: 0;
            align-items: center;
            gap: 10px;
            span{
                width: 15px;
                height: 15px;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background: $white-clr;
                    width: 5px;
                    height: 5px;
                }
                background: $third-clr;
                border-radius: 50%;
            }
            h3{
                color: $primary-clr;
            }
            border-right: solid 3px $third-clr;
            p{
                opacity: 0.8;
            }
            
        }
        height: 70vh;
        border-radius: 5px;
        background-position: center !important;
        background-image:url("https://scontent.frba4-2.fna.fbcdn.net/v/t1.6435-9/199391629_10158504899494426_1407856927489155889_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8631f5&_nc_eui2=AeG1JLti59O8GxtYmBcduyZUJ6frfULurrUnp-t9Qu6utXHkjRDbaCJrHwiGJsmAkn5mqBhWM3RtFn2bw2k7bYqs&_nc_ohc=a0O0yUyNBH8AX_NFmqI&_nc_ht=scontent.frba4-2.fna&oh=00_AT9-7v9_iUMBWA58HdAY84Ev9m1eSmnk06Nkz5s2j89Kpg&oe=625FA6DF"  ) ;
        background-size: cover !important;
        position: relative !important;
        background-repeat: no-repeat !important;
        .bigpicture{
            background: linear-gradient(307deg, #ef0a48, #9c0aef);
            position: relative;
            border-radius: 27px 0 0 28px;
            width: 7%;
            box-shadow: 0 0 51px 2px #000000e0;
            height: 100%;
            display: grid;
            
            .upside_list,
            .upside_list1,
            .upside_list2,
            .upside_list3,
            .upside_list4,
            .upside_list5,{
                position: relative;
                width: 100%;
                height: 100%;
                display:flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                .list
                {
                   
                   height: 50px;
                   background: $white-clr;
                   position: absolute;
                   box-shadow: 0 0 34px 2px #0000004d;

                   overflow: hidden;
                   background-size: contain;
                   background-repeat: no-repeat;
                   width: 50px;
                   border-radius: 50%;
                   background-position: center;
                   
                   transition: all ease-in-out 0.2s;
                   &:hover{
                       
                       
                       
                       border-radius: 5px;
                       overflow: hidden;
                   }
                   &:hover>.details h3{
                    color: #181818;
                    transition: all ease-in-out 0.2s;
                    background: $third-clr;
                   }
                    .details{
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         height: 100%;
                         width: 100%;  
                         font-size: 20px;                         
                        }
                    }

                }
                
            }
        
    }
}
.upside_list2{
    &:hover>.wrapclasses{       
        background-image: url("https://scontent.frba4-2.fna.fbcdn.net/v/t1.6435-9/206992999_10158535587204426_4827432706483506000_n.jpg?stp=dst-jpg_s960x960&_nc_cat=103&ccb=1-5&_nc_sid=8631f5&_nc_eui2=AeGlH6Hw1kkEuyuWOPybr6KD0baTrX0_96HRtpOtfT_3oXyQMh9HpUFqh7vhwWMKApNBhchxwlmYM5uzphha99RG&_nc_ohc=I8QV2R26pK0AX9lz4jm&_nc_ht=scontent.frba4-2.fna&oh=00_AT_S8UWMRFShDKwY0k_Jl28ySJUy_Y1zI1sXeEVoMicKWA&oe=625F30AD")!important;
    }
}


//join us mohamed styling
.join-us {
    padding: 20px 0;
    
    background: linear-gradient(45deg, #e9e9e9, #fdfdfd);
.container{
}
  }
  
  .join-us .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    width: 100%;
    place-content: center;
    padding: 0 50px;
    padding-top: 20px;
    place-items: center;
  }
  .boxn4{
    display: none !important;
}
  .join-us .content .box {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    transition: var(--duration);
    -webkit-box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
    -moz-box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
    box-shadow: 0 2px 15px rgb(0, 0, 0, 10%);
    
  }
  
  
  .active-box{
    transform: scale(1.1) ;
    background: linear-gradient(222deg,#5414c7 -7%, #280356 17%, #0b1d5e 42%) !important;
    box-shadow: 0 0 11px 4px #cfcfcf ;
    h2, p{
        color: $white-clr !important;
    }
  }
  
  
  .join-us .content .box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #efaa0a;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .join-us .content .box .text {
    font-size: 13px;
  }
  
  .join-us .content .box .text .title {
    display: flex;
    justify-content: space-between;
  }
  
  .join-us .title .name h2 {
    margin: 0 0 7px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .join-us .title .name span {
    color: #98959b;
    font-weight: bold;
  }
  
  .join-us .title .name .social {
    display: flex;
    align-items: center;
    margin-top: 7px;
    font-size: 14px;
  }
  
  .join-us .title .name .social .fb {
    margin-left: 10px;
    color: #4aa7ee;
    font-weight: bold;
    cursor: pointer;
  }
  
  .join-us .title .name .social .fb-2 {
    background-color: #ebc0e1;
    border-radius: 50px;
    padding: 5px;
    color: #ca90ec;
    font-size: 14px;
    cursor: pointer;
  }
  
  .join-us .title .date {
    color: #929292;
  }
  
  .join-us .text p {
    color: #777777;
    /* max-width: 90%; */
    line-height: 19px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
  }
  
  .join-us .text p::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .join-us .text .reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .join-us .text .reaction .likes {
    display: flex;
    align-items: center;
  }
  
  .join-us .likes .like,
  .join-us .likes .comment {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .join-us .likes .like {
    margin-left: 8px;
    color: #4290f4;
    font-weight: bold;
  }
  
  .join-us .likes .comment {
    color: #66a8ff;
    font-weight: bold;
  }
  
  .join-us .reaction .hashtags {
    display: flex;
  }
  
  .join-us .reaction .hashtags div {
    padding: 7px 12px 3px 12px;
    background-color: #1877f261;
    color: #dadde1;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .join-us .reaction .hashtags div:first-child {
    margin-left: 8px;
  }
  
  .join-us .members {
      .igroups{
        position: absolute;
        top: -18%;
        right: 1%;
        font-size: 20px;
        
        background: #66039f;
        border-radius: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px white;
        height: 50px;
      }
    margin: 50px 50px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(271deg, #66039f, #0b1d5e);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
    color: #e6e6e6;
    position: relative;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  }
  
  .join-us .members::before {
    content: "";
    position: absolute;
    background-color: $primary-clr;
    width: 40px;
    height: 70px;
    left: 20px;
  }
  
  .join-us .members::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px;
    border-color: rgb(0 0 0 / 0%) #dddddd00 #101c62 #ffbc0500;
    left: 20px;
    bottom: 37px;
  }
  
  .join-us .members .box {
    text-align: center;
  }
  
  .join-us .members .box div {
    font-size: 20px;
    font-weight: bold;
  }
  
  .join-us .members .box div:first-child {
    color: $third-clr;
    margin-bottom: 10px;
  }


  /*mobile responsive*/
  //viewport1
  @media (max-width:1000px) {
      .boxn4{
          display: flex !important;
      }
      .active-box{
          transform: scale(1);
          background: white !important;
          :is(h2,p){
              color: #000000c2 !important;
          }
      }
      
  }
  //viewport 2
  @media (max-width:800px) {
    .section .product .clothes .contain .list .new{
        grid-column: 1/4;
    }
    .promote .wide .categories{
        grid-column: 1/3;
    }
    .deal{
        grid-column: 1/3;
        grid-row-end: none;
    }
    .section .product .clothes .contain .list .list1,
    .product .clothes .contain .listadd .list1{
        grid-column: 1/4;
    }
    .wrapperar .wrapp .searcher .related{
        display: grid !important;
    }

    .section .product {
        padding: 0 !important;
    }
    .section,.wrapperar .wrapp {
        padding: 0 !important;
    }
    .join-us .members .box div{
        font-size:14px;
    }
      .facewrap{
          i{
            margin-inline-start: auto;
          }
      }
      .who_r_w{
          display: grid !important;
          justify-items: center;
          .title_who{
              margin: 0;
          }
          .cards{
              .moreinfo{
                grid-template-columns: 1fr !important;
                gap: 10px;
                .info{
                    text-align: center;
                    justify-items: center;
                    gap: 28px;

                }
                .media_links{
                    a{
                        width: 40% !important;
                        margin: 10px 20px ;
                    }
                }
              }
          }
      }
      .full_list{
          display: grid !important;
          padding-left: 0 !important;
          .facebbok{
              width: 100% !important;
          }
          .mylist{
            display: grid !important;
            height: fit-content !important;
            grid-template-columns: 1fr 1fr;
            gap: 6px;
            margin: 19px;
          }
      }

      .active-box{
        transform: scale(1);
       background: white !important;
       h2{
           color:black !important;
       } 
       p{
           color: #101010 !important;
       }
       
      }
      .thanks_to{
          padding: 0 !important;
          .title_who{
              width: 100%;
              margin: 0 !important;
              border-radius: 0px;
          }
          .cards{
              display: grid !important;
              align-items: center;
              justify-content: center;
              place-items: center;
              .card{
                  display: block !important;
                  .booklist{
                      display: grid !important;
                      grid-template-columns: 1fr 1fr ;
                      gap: 5px;
                      p{
                        grid-column-end: 3;
                        grid-column-start: 1;
                      }
                  }
              }
              .cardname{
                display: contents;
                  width: 100%;
              }
          }
      }
      .all-pages,.square,.dont-need,.stil,.main_pre,.main-line,.todown,.wrapclasses,.allpages{
          display: none !important;
      }
      .main-text,.web-name,.announcement{
          text-align: center;
          width: 100%;
          color: #4a4a4a;
        padding: 20px;
      }
      .announcement{
        place-self: center;
      }
      #main{
          display: grid;
          grid-template-columns: 1fr !important;
      }
      
      .inputs1{
          width: 100% !important;

      }
      .who_r_w{
          .card{
              height: 50%;
          }
          .cards{
              display: grid;
              grid-template-columns: 1fr;
              height: fit-content;
          }
      }
      .classes-name{
          width: 100% !important;

      }
      .end .aboutus{
          display: block !important;
          width: 86% !important;
      }
      .anou{
          display: grid !important;
          width: 86% !important;
      }
      .join-us{
          .members{
              margin: 50px 0;
              border-radius: 0;
              &::before,::after{
                  display: none;
              }
          }
      }
      .dmca{
        display: flex;
        position: static !important;
        align-items: center;
        width: 100%;
        justify-content: center;
      }
      .wrapper{
          height: 100% !important;
      }
  }
.yellowstar{
    color: yellow;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 20px;
}

//SCROLLING




  